*{
  box-sizing: border-box;
}
html, body{

  visibility: hidden;
  background-color: #141416;
}
body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #141416; */
  font-family: 'Aeonik';
  
}
.container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
a:hover{
  cursor: none;
}